In [1]:
import pandas as pd
test = pd.read_csv('test_error_experiment.csv')
test

,Unnamed: 0,Pclass,Age,SibSp,Parch,Fare,man,woman,child,A,...,C,D,E,F,G,C_Embarked,Q_Embarked,S_Embarked,female,male
0,0,3,34.5,0,0,7.8292,1,0,0,0,...,0,0,0,0,0,0,1,0,0,1
1,1,3,47.0,1,0,7.0000,1,1,0,0,...,0,0,0,0,0,0,0,1,1,0
2,2,2,62.0,0,0,9.6875,1,0,0,0,...,0,0,0,0,0,0,1,0,0,1
3,3,3,27.0,0,0,8.6625,1,0,0,0,...,0,0,0,0,0,0,0,1,0,1
4,4,3,22.0,1,1,12.2875,1,1,0,0,...,0,0,0,0,0,0,0,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
413,413,3,0.0,0,0,8.0500,1,0,0,0,...,0,0,0,0,0,0,0,1,0,1
414,414,1,39.0,0,0,108.9000,0,0,0,0,...,1,0,0,0,0,1,0,0,1,0
415,415,3,38.5,0,0,7.2500,1,0,0,0,...,0,0,0,0,0,0,0,1,0,1
416,416,3,0.0,0,0,8.0500,1,0,0,0,...,0,0,0,0,0,0,0,1,0,1
417,417,3,0.0,1,1,22.3583,0,0,1,0,...,0,0,0,0,0,1,0,0,0,1

In [2]:
test = test.astype(float)
test

,Unnamed: 0,Pclass,Age,SibSp,Parch,Fare,man,woman,child,A,...,C,D,E,F,G,C_Embarked,Q_Embarked,S_Embarked,female,male
0,0.0,3.0,34.5,0.0,0.0,7.8292,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
1,1.0,3.0,47.0,1.0,0.0,7.0000,1.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0
2,2.0,2.0,62.0,0.0,0.0,9.6875,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
3,3.0,3.0,27.0,0.0,0.0,8.6625,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0
4,4.0,3.0,22.0,1.0,1.0,12.2875,1.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
413,413.0,3.0,0.0,0.0,0.0,8.0500,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0
414,414.0,1.0,39.0,0.0,0.0,108.9000,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
415,415.0,3.0,38.5,0.0,0.0,7.2500,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0
416,416.0,3.0,0.0,0.0,0.0,8.0500,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0
417,417.0,3.0,0.0,1.0,1.0,22.3583,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0

In [3]:
test.to_csv('test_var2.csv')